<div class="container-welcome">
    <div class="img-width"><%= image_tag("chat1.png", :alt => "chat1") %></div>
    <div class="text-center text-welcome">
        <h1>Bienvenue sur le site spécial chats</h1>
        <p>"Inscrivez-vous et venez découvrir des photos et des articles impréssionants sur les chats"</p>
    </div>
</div>
<div class="container2-welcome">
    <div class="text-center text-welcome2">
        <h1>N'hésitez plus</h1>
        <p>"Une variété incroyable de chats à découvrir"</p>
    </div>
    <div class="img-width2"><%= image_tag("chat2.png", :alt => "chat2") %></div>
</div>
<footer class="footer-welcome">
    <p class="text-center mb-0">© Site des petits chats by Lukas Bouhlel</p>
</footer>