<div class="mt-3">
  <div class="row justify-content-center">
    <section class="col-lg-5">
      <div class="">
        <div class="col-xs-12">
            <h3>Modifier l'utilisateur <%= @users.name %></h3>
            <%= render partial: 'form', users: @users %>
        </div>
      </div>          
    </section>
  </div>
</div>